<div class="row" soho-busyindicator [activated]="isInitData" [blockUI]="true" [displayDelay]="0">
   <div class="twelve columns">
      <div class="field">
         <label for="facility" class="label">Facility</label>
         <select soho-dropdown soho-busyindicator id="facility" name="facility" placeholder="Select Facility">
            <option value="-1">&nbsp;</option>
            <option *ngFor="let faci of listFaciData" [value]="faci.FACI">{{faci.FACI}} - {{faci.FACN}}</option>
         </select>
      </div>
      <div class="field">
         <label for="order-type" class="label">Order Type</label>
         <select soho-dropdown soho-busyindicator id="order-type" name="order-type" placeholder="Select Order Type">
            <option value="-1">&nbsp;</option>
            <option *ngFor="let ordData of listOrderData" [value]="ordData.ORTP">{{ordData.ORTP}} - {{ordData.TX40}}
            </option>
         </select>
      </div>
      <div class="field">
         <label for="whlo" class="label">Delivery Warehouse</label>
         <select soho-dropdown soho-busyindicator id="whlo" name="whlo" placeholder="Select Warehouse">
            <option value="-1">&nbsp;</option>
            <option *ngFor="let whData of listWareHouseData" [value]="whData.WHLO">{{whData.WHLO}} - {{whData.WHNM}}
         </select>
      </div>
      <div class="field createbusiness">
         <label for="delivery-date" class="label">Delivery Date</label>
         <input soho-datepicker id="delivery-date" name="delivery-date" [options]="datePickerOptions"
            placeholder="Select Delivery Date" />
      </div>
      <div class="field">
         <label for="sales-rep" class="label">Sales Rep</label>
         <input type="text" id="sales-rep" name="sales-rep" />
      </div>

   </div>
</div>
