<div class="full-width prsg-app-grid page-container scrollable" soho-busyindicator [activated]="isInitItemBusy"
   [blockUI]="true" [displayDelay]="0">
   <div class="row">
      <div class="twelve columns">

         <div soho-tabs registerForEvents="activated" (activated)="onTabActivated($event)">
            <div soho-tab-list-container>
               <ul soho-tab-list>
                  <li soho-tab><a soho-tab-title tabId="tabs-business-chain">Business Chain</a></li>
                  <li soho-tab><a soho-tab-title tabId="tabs-upload-excel">Upload Excel</a></li>
               </ul>
            </div>
         </div>

         <div soho-tab-panel-container>
            <div soho-tab-panel tabId="tabs-business-chain">

               <div class="row">
                  <div class="twelve columns">
                     <div class="search_div">
                        <div class="field-short pr10">
                           <svg soho-icon icon="search"></svg>
                        </div>
                        <div class="field-short pr10">
                           <input type="text" name="text-business-chain" id="text-business-chain"
                              placeholder="Business Chain" [(ngModel)]="businessChainText">
                        </div>
                        <div class="field-short">
                           <button class="btn-primary btn_width_full btn-normal" type="button" id="search_cus"
                              (click)="searchBusinessChain()">Search</button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #customerLineDatagrid soho-datagrid [gridOptions]="customerGridOptions" soho-busyindicator
                           [activated]="isCustItemBusy" [blockUI]="true" [displayDelay]="0"
                           (selected)="onSelectedCustItem($event.rows)">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="search_div">
                        <div class="field-short pr10">
                           <svg soho-icon icon="search"></svg>
                        </div>
                        <div class="field-short pr10">
                           <input type="text" name="text-item" id="text-item" placeholder="Items"
                              [(ngModel)]="itemText">
                        </div>
                        <div class="field-short">
                           <button class="btn-primary btn_width_full btn-normal" type="button" id="search_cus"
                              (click)="searchItemData()">Search</button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #itemLineDatagrid soho-datagrid [gridOptions]="itemGridOptions" soho-busyindicator
                           [activated]="isItemBusy" [blockUI]="true" [displayDelay]="0"
                           (selected)="onSelectedInvItem($event.rows)">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="field-short field-stacked mb0">
                        <button class="btn-primary btn_width_full btn-normal btn-cancel" type="button">Cancel</button>
                        <button class="btn-primary btn_width_full btn-normal" type="button"
                           (click)="genMatrix()">Confirm</button>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad" *ngIf="showMatrix">
                        <div #matrixLineDatagrid soho-datagrid [gridOptions]="matrixGridOptions" soho-busyindicator
                           [activated]="isMatrixBusy" [blockUI]="true" [displayDelay]="0">
                        </div>
                     </div>
                  </div>
               </div>

            </div>




            <div soho-tab-panel tabId="tabs-upload-excel">

               <div class="field">
                  <label class="required" for="text-normal-opportunities">Text</label>
                  <input type="text" name="text-normal-opportunities" id="text-normal-opportunities"
                     data-validate="required">
               </div>
               <div class="field">
                  <label class="required" for="tel-normal-opportunities">Telephone</label>
                  <input type="tel" name="tel-normal-opportunities" id="tel-normal-opportunities"
                     data-validate="required" aria-required="true">
               </div>
            </div>
         </div>



      </div>
   </div>
</div>
