<div class="full-width prsg-app-grid page-container scrollable" soho-busyindicator [activated]="isInitItemBusy"
   [blockUI]="true" [displayDelay]="0">
   <div class="row">
      <div class="twelve columns">

         <div soho-tabs registerForEvents="activated" (activated)="onTabActivated($event)">
            <div soho-tab-list-container>
               <ul soho-tab-list>
                  <li soho-tab><a soho-tab-title tabId="tabs-business-chain" class="fixcenter"><svg soho-icon
                           icon="cascade-objects"></svg> Business Chain</a></li>
                  <li soho-tab><a soho-tab-title tabId="tabs-upload-excel" class="fixcenter"><svg soho-icon
                           icon="tree-xls"></svg> Upload
                        Excel</a></li>
               </ul>
            </div>
         </div>

         <div soho-tab-panel-container>
            <div soho-tab-panel tabId="tabs-business-chain">

               <div class="row">
                  <div class="twelve columns">
                     <div class="search_div">
                        <div class="field-short pr10">
                           <svg soho-icon icon="search"></svg>
                        </div>
                        <div class="field-short pr10">
                           <input type="text" name="text-business-chain" id="text-business-chain"
                              placeholder="Business Chain" [(ngModel)]="businessChainText">
                        </div>
                        <div class="field-short">
                           <button class="btn-primary btn_width_full btn-normal" type="button" id="search_cus"
                              (click)="searchBusinessChain()">Search</button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #customerLineDatagrid soho-datagrid [gridOptions]="customerGridOptions" soho-busyindicator
                           [activated]="isCustItemBusy" [blockUI]="true" [displayDelay]="0"
                           (selected)="onSelectedCustItem($event.rows)">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="search_div">
                        <div class="field-short pr10">
                           <svg soho-icon icon="search"></svg>
                        </div>
                        <div class="field-short pr10">
                           <input type="text" name="text-item" id="text-item" placeholder="Items"
                              [(ngModel)]="itemText">
                        </div>
                        <div class="field-short">
                           <button class="btn-primary btn_width_full btn-normal" type="button" id="search_cus"
                              (click)="searchItemData()">Search</button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #itemLineDatagrid soho-datagrid [gridOptions]="itemGridOptions" soho-busyindicator
                           [activated]="isItemBusy" [blockUI]="true" [displayDelay]="0"
                           (selected)="onSelectedInvItem($event.rows)">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="field-short field-stacked mb0">
                        <button class="btn-primary btn_width_full btn-normal btn-cancel" type="button"
                           (click)="clearAll()">Cancel</button>
                        <button class="btn-primary btn_width_full btn-normal" type="button" (click)="genMatrix()">Add
                           Orders</button>

                        <button class="btn-primary btn_width_full btn-normal btn-confirm buttondiv_right" type="button"
                           (click)=genOrder()>Generate Order</button>
                        <button class="btn-primary btn_width_full btn-normal buttondiv_right" type="button"
                           (click)="checkOrder()">Check Order</button>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #matrixLineDatagrid soho-datagrid [gridOptions]="matrixGridOptions" soho-busyindicator
                           [activated]="isMatrixBusy" [blockUI]="true" [displayDelay]="0"
                           (cellchange)="onCellChange($event)">
                        </div>
                     </div>
                  </div>
               </div>

            </div>




            <div soho-tab-panel tabId="tabs-upload-excel">

               <div class="row fixcenter">

                  <div class="six columns">
                     <fieldset class="myfieldset" aria-labelledby="fieldset-id">
                        <legend id="fieldset-id">Order Header</legend>
                        <div class="row">
                           <div class="six columns">
                              <div class="field">
                                 <label for="facility" class="label">Facility</label>
                                 <select soho-dropdown soho-busyindicator noSearch id="facility" name="facility"
                                    placeholder="Select Facility">
                                    <option value="-1">&nbsp;</option>
                                 </select>
                              </div>
                              <div class="field">
                                 <label for="order-type" class="label">Order Type</label>
                                 <select soho-dropdown soho-busyindicator noSearch id="order-type" name="order-type"
                                    placeholder="Select Order Type">
                                    <option value="-1">&nbsp;</option>
                                 </select>
                              </div>
                              <div class="field">
                                 <label for="customer" class="label">Customer</label>
                                 <input type="text" id="customer" name="customer" />
                              </div>
                           </div>
                           <div class="six columns">
                              <div class="field">
                                 <label for="whlo" class="label">Delivery Warehouse</label>
                                 <select soho-dropdown soho-busyindicator noSearch id="whlo" name="whlo"
                                    placeholder="Select Warehouse">
                                    <option value="-1">&nbsp;</option>
                                 </select>
                              </div>
                              <div class="field">
                                 <label for="delivery-date" class="label">Delivery Date</label>
                                 <input soho-datepicker id="delivery-date" name="delivery-date"
                                    [options]="datePickerOptions" placeholder="Select Delivery Date" />
                              </div>
                              <div class="field">
                                 <label for="sales-rep" class="label">Sales Rep</label>
                                 <input type="text" id="sales-rep" name="sales-rep" />
                              </div>
                           </div>
                        </div>
                     </fieldset>
                  </div>
                  <div class="three columns">
                     <div class="upload_left">
                        <div class="field">
                           <label soho-label for="uploadexcel">Select File - {{fileLimits}}</label>
                           <input soho-fileupload id="uploadexcel" name=uploadexcel accept="{{fileLimits}}"
                              (change)="onExcelChange($event)" />
                        </div>
                        <button class="btn-primary btn_width_full btn-normal" type="button">Upload Excel</button>
                        <div class="field single-line-field">
                           <label for="order-total" class="label">Order Total : </label>
                           <input type="text" id="order-total" name="order-total" />
                        </div>
                        <div class="all_create">
                           <button class="btn-primary btn_width_full btn-normal btn-cancel" type="button">Cancel
                              Order</button>
                           <button class="btn-primary btn_width_full btn-normal btn-confirm" type="button">Create
                              Order</button>
                        </div>
                     </div>
                  </div>
                  <div class="three columns">
                     <div class="additemdiv">
                        <div class="itembottom">
                           <div class="field-short pr10">
                              <svg soho-icon icon="search"></svg>
                           </div>
                           <div class="field-short pr10">
                              <input type="text" name="text-item1" id="text-item1" placeholder="Items"
                                 [(ngModel)]="itemText1">
                           </div>
                           <div class="field-short">
                              <button class="btn-primary btn_width_full btn-normal" type="button"
                                 id="add_item">Add</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #itemExcelLineDatagrid soho-datagrid [gridOptions]="itemExcelGridOptions"
                           soho-busyindicator [activated]="isItemExcelBusy" [blockUI]="true" [displayDelay]="0">
                        </div>
                     </div>
                  </div>
               </div>


            </div>
         </div>



      </div>
   </div>
</div>
