<div class="full-width prsg-app-grid page-container scrollable" soho-busyindicator [activated]="isInitItemBusy"
   [blockUI]="true" [displayDelay]="0">
   <div class="row">
      <div class="twelve columns">

         <div soho-tabs registerForEvents="activated" (activated)="onTabActivated($event)">
            <div soho-tab-list-container>
               <ul soho-tab-list>
                  <li soho-tab><a soho-tab-title tabId="tabs-business-chain" class="fixcenter"><svg soho-icon
                           icon="cascade-objects"></svg> Quick Order Entry</a></li>
                  <li soho-tab><a soho-tab-title tabId="tabs-upload-excel" class="fixcenter"><svg soho-icon
                           icon="tree-xls"></svg> Upload Excel</a></li>
               </ul>
            </div>
         </div>

         <div soho-tab-panel-container>
            <div soho-tab-panel tabId="tabs-business-chain">

               <div class="row">
                  <div class="twelve columns">
                     <div class="search_div">
                        <div class="field-short pr10">
                           <svg soho-icon icon="search"></svg>
                        </div>
                        <div class="field-short pr10">
                           <!-- <input type="text" class="widthsm" name="text-business-chain" id="text-business-chain"
                              placeholder="Business Chain" [(ngModel)]="businessChainText"> -->

                           <input soho-autocomplete id="bus-chain" name="bus-chain" aria-required="true"
                              data-validate="required" [source]="excellistBusChainSource"
                              [template]="excelChainTemplate" filterMode="contains"
                              (selected)="onSelectedBusChainExcel($event)" [(ngModel)]="businessChainText">

                        </div>
                        <div class="field-short">
                           <button class="btn-primary btn_width_full btn-normal" type="button" id="search_cus"
                              (click)="searchBusinessChain()">Search</button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #customerLineDatagrid soho-datagrid [gridOptions]="customerGridOptions" soho-busyindicator
                           [activated]="isCustItemBusy" [blockUI]="true" [displayDelay]="0"
                           (selected)="onSelectedCustItem($event.rows)">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="search_div">
                        <div class="field-short pr10">
                           <svg soho-icon icon="search"></svg>
                        </div>
                        <div class="field-short pr10">
                           <input type="text" class="widthsm" name="text-item" id="text-item" placeholder="Items"
                              [(ngModel)]="itemText">
                        </div>
                        <div class="field-short">
                           <button class="btn-primary btn_width_full btn-normal" type="button" id="search_cus"
                              (click)="searchItemData()">Search</button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #itemLineDatagrid soho-datagrid [gridOptions]="itemGridOptions" soho-busyindicator
                           [activated]="isItemBusy" [blockUI]="true" [displayDelay]="0"
                           (selected)="onSelectedInvItem($event.rows)">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="field-short field-stacked mb0">
                        <button class="btn-primary btn_width_full btn-normal btn-cancel" type="button"
                           (click)="clearAll()">Clear All</button>
                        <button class="btn-primary btn_width_full btn-normal" type="button" (click)="genMatrix()">Add
                           Orders</button>

                        <!-- <button class="btn-primary btn_width_full btn-normal btn-confirm buttondiv_right" type="button"
                           (click)=genOrder()>Generate Order</button> -->

                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #matrixLineDatagrid soho-datagrid [gridOptions]="matrixGridOptions" soho-busyindicator
                           [activated]="isMatrixBusy" [blockUI]="true" [displayDelay]="0"
                           (cellchange)="onCellChange($event)">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="twelve columns">
                     <div class="field-short field-stacked mb0">
                        <button class="btn-primary btn_width_full btn-normal btn-confirm buttondiv_right" type="button"
                           (click)=genOrder()>Create Order</button>
                     </div>
                  </div>
               </div>

            </div>




            <div soho-tab-panel tabId="tabs-upload-excel">

               <div class="row fixcenter">
                  <div class="three columns">
                     <div class="upload_left">
                        <div class="field">
                           <label soho-label for="uploadexcel">Select File - {{fileLimits}}</label>
                           <input soho-fileupload id="uploadexcel" name=uploadexcel accept="{{fileLimits}}"
                              (change)="onExcelChange($event)" />
                        </div>
                        <div class="field-short">
                           <button class="btn-primary btn_width_full btn-normal" type="button"
                              (click)="updateExcelGrid()">Upload Excel</button>
                        </div>
                        <!-- <div class="field single-line-field">
                                             <label for="order-total" class="label">Order Total : </label>
                                             <input type="text" id="order-total" name="order-total" />
                                          </div> -->
                        <div class="field single-line-field">
                           <p>Click here to <a href="assets/item-sample.xlsx" download>Download</a> sample excel
                              file</p>
                        </div>
                     </div>
                  </div>
                  <div class="six columns">
                     <fieldset class="myfieldset" aria-labelledby="fieldset-id">
                        <legend id="fieldset-id">Order Header</legend>
                        <div class="row">
                           <div class="six columns">
                              <div class="field-short">
                                 <label for="facility" class="label">Facility</label>
                                 <select soho-dropdown soho-busyindicator id="facility" name="facility"
                                    placeholder="Select Facility" [(ngModel)]="exceldataFacility" aria-required="true"
                                    data-validate="required">
                                    <option value="-1">&nbsp;</option>
                                    <option *ngFor="let faci of excellistFaciData" [value]="faci.FACI">{{faci.FACI}} -
                                       {{faci.FACN}}</option>
                                 </select>
                              </div>
                              <div class="field-short">
                                 <label for="order-type" class="label">Order Type</label>
                                 <select soho-dropdown soho-busyindicator id="order-type" name="order-type"
                                    placeholder="Select Order Type" [(ngModel)]="exceldataOrderType"
                                    aria-required="true" data-validate="required">
                                    <option value="-1">&nbsp;</option>
                                    <option *ngFor="let ordData of excellistOrderData" [value]="ordData.ORTP">
                                       {{ordData.ORTP}} - {{ordData.TX40}}
                                 </select>
                              </div>
                              <div class="field-short">
                                 <label for="customer" class="label">Customer</label>
                                 <input soho-autocomplete id="customer" name="customer" aria-required="true"
                                    data-validate="required" [source]="excellistCUstomerSource"
                                    [template]="excelcustTemplate" filterMode="contains"
                                    (selected)="onSelectedCustomerExcel($event)" [(ngModel)]="exceldatatempCustomer"
                                    soho-busyindicator [activated]="isCustomerBusy" [blockUI]="true" [displayDelay]="0">
                              </div>
                           </div>
                           <div class="six columns">
                              <div class="field-short">
                                 <label for="whlo" class="label">Delivery Warehouse</label>
                                 <select soho-dropdown soho-busyindicator id="whlo" name="whlo"
                                    placeholder="Select Warehouse" [(ngModel)]="exceldataWarehouse" aria-required="true"
                                    data-validate="required">
                                    <option value="-1">&nbsp;</option>
                                    <option *ngFor="let whData of excellistWareHouseData" [value]="whData.WHLO">
                                       {{whData.WHLO}} - {{whData.WHNM}}
                                 </select>
                              </div>
                              <div class="field-short">
                                 <label for="delivery-date" class="label">Delivery Date</label>
                                 <input soho-datepicker id="delivery-date" name="delivery-date"
                                    [options]="datePickerOptions" placeholder="Select Delivery Date"
                                    [(ngModel)]="exceldataDeliveryDate" aria-required="true" data-validate="required" />
                              </div>
                              <div class="field-short">
                                 <label for="sales-rep" class="label">Sales Rep</label>
                                 <input soho-autocomplete id="sales-rep" name="sales-rep" aria-required="true"
                                    data-validate="required" [source]="excellistSalesRepSource"
                                    [template]="excelsaleRepTemplate" filterMode="contains"
                                    (selected)="onSelectedSalesRepExcel($event)" [(ngModel)]="exceldatatempSalesRep">
                              </div>
                           </div>
                        </div>
                     </fieldset>
                  </div>

                  <div class="three columns">
                     <div class="additemdiv">
                        <div class="itembottom">
                           <!-- <div class="field-short pr10">
                              <svg soho-icon icon="search"></svg>
                           </div>
                           <div class="field-short pr10">
                              <input soho-autocomplete id="text-item1" name="text-item1" aria-required="true"
                                 placeholder="Items" class="widthsm" data-validate="required"
                                 [source]="excellistAddItemSource" [template]="excelItemTemplate" filterMode="contains"
                                 (selected)="onSelectedAddItemExcel($event)" [(ngModel)]="itemText1" soho-busyindicator
                                 [activated]="isAddItemBusy" [blockUI]="true" [displayDelay]="0">

                           </div>
                           <div class="field-short">
                              <button class="btn-primary btn_width_full btn-normal" type="button" id="add_item"
                                 (click)="addItemExcel()">Add</button>
                           </div> -->
                           <div class="field-short">
                              <input soho-lookup field="productName" [(ngModel)]="lookupValue" [click]="onLookupClick"
                                 placeholder="Item Search" />
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="card cardpad">
                        <div #itemExcelLineDatagrid soho-datagrid [gridOptions]="itemExcelGridOptions"
                           soho-busyindicator [activated]="isItemExcelBusy" [blockUI]="true" [displayDelay]="0"
                           (cellchange)="onExcelCellChange($event)">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="twelve columns">
                     <div class="all_create_left">
                        <button class="btn-primary btn_width_full btn-normal btn-remove" type="button"
                           (click)="removeExcelItem()">Remove Selected</button>
                     </div>
                     <div class="all_create_right">
                        <button class="btn-primary btn_width_full btn-normal btn-cancel" type="button"
                           (click)="clearExcelAll()">Clear Order</button>
                        <button class="btn-primary btn_width_full btn-normal btn-confirm" type="button"
                           (click)="genExcelOrder()" [disabled]="!isEnabled()">Create Order</button>
                     </div>
                  </div>
               </div>


            </div>
         </div>



      </div>
   </div>
</div>
